#header {
	height: 50px !important;
}

.swagger-ui-wrap {
	margin-left: 0 !important;
}

#resources_container {
	width: 100% !important;
    padding-left: 0 !important;
}

#resources, .endpoints {
	padding-left: 0;
}

.heading>h2 {
    margin-top: 5px;
}    